# Archivos y carpetas generados por Node / Dependencias
node_modules/
npm-debug.log
yarn-error.log

# Carpetas de compilación y caché de Angular
.angular/
dist/
.editorconfig

# Configuración local de Editores/IDE (como VS Code)
.vscode/

# Archivos del sistema operativo
Thumbs.db
.DS_Store

# Archivos temporales de pruebas
/cypress/screenshots/
/cypress/videos/
