.curso-card {
  border-radius: 16px;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  height: 85%;
}

.card-header {
  height: 64px;
  color: white;
  font-size: 24px;
  font-weight: 500;

  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}

.header-purple {
  background: linear-gradient(135deg, #5b5cf6, #4c4cff);
}

.header-pink {
  background: linear-gradient(135deg, #f06292, #f45c84);
}

.header-yellow {
  background: #f6c000;
}

.header-blue {
  background: linear-gradient(135deg, #29b6f6, #0288d1);
}

.header-teal {
  background: linear-gradient(135deg, #26a69a, #00796b);
}

.header-orange {
  background: linear-gradient(135deg, #ff9800, #f57c00);
}

.header-brown {
  background: linear-gradient(135deg, #8d6e63, #5d4037);
}

.header-red {
  background: linear-gradient(135deg, #ef5350, #c62828);
}

.card-footer {
  border-top: 1px solid #e0e0e0;
  display: flex !important;
  width: 100%;
  padding: 10 !important;
  /* Elimina márgenes internos por defecto de Material */
 // margin: 0 !important;
}

.mat-mdc-card .mdc-card__actions {
  padding: 11px !important;
}

/* Fuerza al botón a tomar todo el ancho */
.card-footer button {
  width: 100% !important;
  display: block;
  border-radius: 0 0 12px 12px;
  /* Redondea solo las esquinas inferiores si la tarjeta es curva */
}