<mat-card class="card mat-elevation-z8 my-4  ">
  <mat-card-header>
    <mat-card-title class="m-b-0">Parametricas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-purple">
            <!-- <mat-icon>qr_code</mat-icon> -->
            <mat-card-title>Codificación</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro Codificación
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva codificacion"
              (click)="abrirNuevaCodificacion()">
              Nueva Codificación
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-yellow">
            <mat-card-title>Cotización</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel Registro de Cotizaciones
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva cotizacion"
              (click)="abrirNuevaCotizacion()">
              Nueva Cotización
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-blue">
            <mat-card-title>Laboratorio</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Laboratorios
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nuevo laboratorio"
              (click)="abrirNuevoLaboratorio()">
              Nuevo Laboratorio
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-teal">
            <mat-card-title>Entidad de Aporte</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Entidades de Aporte
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva entidad de aporte"
              (click)="abrirNuevaEntidadAporte()">
              Nueva Entidad de Aporte
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-pink">
            <mat-card-title>Entidad Financiera</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Entidades Financieras y sus Cuentas
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva entidad financiera"
              (click)="abrirNuevaEntidadFinanciera()">
              Nueva Entidad Financiera
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-orange">
            <mat-card-title>Mineral</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Minerales
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nuevo mineral"
              (click)="abrirNuevoMineral()">
              Nuevo Mineral
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-purple">
            <mat-card-title>Escala de Precio (Cargas)</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Tablas de Escala de Precio por Ley
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar escala de precio"
              (click)="abrirNuevaEscalaPrecio()">
              Nueva Escala de Precio
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-brown">
            <mat-card-title>Gastos de Tratamiento</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Gastos de Tratamiento (maquila, refinación, etc.)
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar gasto de tratamiento"
              (click)="abrirNuevoGastoTratamiento()">
              Nuevo Gasto de Tratamiento
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-red">
            <mat-card-title>Penalidades</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Penalidades por elementos traza (As, Sb, Bi, etc.)
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar penalidad"
              (click)="abrirNuevaPenalidad()">
              Nueva Penalidad
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-green">
            <mat-card-title>Caja</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Cajas (fondos de efectivo) y su saldo inicial en Bs. y $us.
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva caja"
              (click)="abrirNuevaCaja()">
              Nueva Caja
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>