<mat-card class="card mat-elevation-z8 my-4  ">
  <mat-card-header>
    <mat-card-title class="m-b-0">Parametricas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-purple">
            <!-- <mat-icon>qr_code</mat-icon> -->
            <mat-card-title>Codificación</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro Codificación
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva codificacion"
              (click)="abrirNuevaCodificacion()">
              Nueva Codificación
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-yellow">
            <mat-card-title>Cotización</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel Registro de Cotizaciones
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nueva cotizacion"
              (click)="abrirNuevaCotizacion()">
              Nueva Cotización
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 curso-card">
          <mat-card-header class="card-header header-pink">
            <mat-card-title>Actor Productivo Minero</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1" style="display: flex; justify-content: flex-start;">
            <p>
              Panel de Registro de Actores Productivos Mineros
            </p>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            <button matButton style="width: 100%; font-weight: bold;" matTooltip="registrar nuevo ingenio"
              (click)="abrirNuevoActorProductivoMinero()">
              Nuevo A.P.M.
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>